<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Systemarzz</title>
</head>

<body>

    <table style="background-color: #141924; max-width: 600px;  margin: 0 auto; padding: 10px;">
        <tr>
            <td align="start"" style=" width: 49px; height: 49px;">
                <img src="https://imgbb.host/images/Mcyku.png" alt="Mcyku.png" border="0"
                    style="width: 45px; height: 49px;" />
            </td>
        </tr>

        <tr>
            <td colspan="3"
                style="background: #1e2127; padding: 10px; width: 100%; color: white; font-family: system-ui;">
                <div align="end">
                    <img src="https://imgbb.host/images/3Fp5e.jpeg" alt="3Fp5e.jpeg" border="0"
                        style="width: 70px; border-radius: 100%; padding: 10px;">
                </div>
                <h1>Hola <br> Como Estas?</h1>
                <p>
                    Mi nombre es Dario, estoy ofreciendo mis conocimientos en informática, programación y diseño
                    gráfico.
                    Ya sea para armar una página web, aplicación web, API, Diseño de plantillas, UI/UX, Diseño de
                    Logotipos. Como también armado y reparación de ordenadores.
                    En el caso de querer saber más a profundidad, puede ingresar a mi sitio web (<a
                        style="color: #5a5af5;" href="https://systemarzz.netlify.app/">https://systemarzz.com</a>) donde
                    se encontrará
                    más información al respecto.
                    Espero su respuesta.
                </p>
                <div align="center">
                    <a href="https://cvpdf.netlify.app/"
                        style="text-decoration: none; color: white; background-color: #14818f; padding: 5px; border-radius: 10px;">
                        Download CV
                    </a>
                </div>

            </td>
        </tr>
        <tr>
            <td align="start">
                <a href="https://systemarzz.netlify.app/" style="color: #9e9eeb;">
                    <img src="https://imgbb.host/images/3LXuW.png" alt="3LXuW.png" border="0"
                        style="width: 185px; height: 45px;">
                </a>
            </td>
        </tr>

        <tr>
            <td align="start">
                <div style="color: white; font-family: system-ui; display: flex;">
                    <a href="https://www.linkedin.com/in/dario-marzzucco-597090283/"
                        style="display: flex; align-items: center;">
                        <img src="https://imgbb.host/images/H9Dc7.png" alt="H9Dc7.png" border="0"
                            style="width: 36px; height: 36px;" />
                    </a>
                    <a href="https://github.com/DMarzzucco">
                        <img src="https://imgbb.host/images/H9OGz.png" alt="H9OGz.png" border="0"
                            style="width: 36px; height: 36px;" />
                    </a>


                </div>
            </td>
        </tr>

        <tr>
            <td style="color: white; font-family: system-ui;">
                <p>© Systemarzz <span style="color: #9da1a5;">Todos los derechos reservados. Todas las marcas
                        registradas pertenecen a sus
                        respectivo dueño.</span>
                </p>
            </td>
        </tr>
    </table>


</body>

</html>
